﻿@using StartupApp.Web.App.Models.ViewModels
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="resetPasswordForm">
            @using (Html.BeginForm("ForgotPassword", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password below.</h4>
                <hr />
                
                @Html.ValidationSummary(true)
                
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset Password" class="btn btn-default" />
                    </div>
                </div>
                
                <p>
                    @Html.ActionLink("Register", "Register", "Account") if you don't have a local account.
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
