﻿@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @{
            var changePasswordView = ViewBag.HasLocalPassword ? "_ChangePasswordPartial" : "_SetPasswordPartial";
            Html.RenderPartial(changePasswordView);
        }

        <section id="externalLogins">
            @Html.Action("RegisteredExternalLogins")
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
