﻿<!-- ko with: registerExternal -->
<h2>Register</h2>
<form class="form-horizontal" role="form">
    <h4 data-bind="text: 'Associate your ' + loginProvider() + ' account.'"></h4>
    <hr />
    <p class="text-success">
        You've successfully authenticated with <strong data-bind="text: loginProvider"></strong>.
            Please enter a user name for this site below and click the Register button to finish logging in.
    </p>
    <ul class="text-danger" data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>
    <div class="form-group">
        <label for="RegisterExternalUserName" class="col-md-2 control-label">Email Address</label>
        <div class="col-md-10">
            <input type="text" id="RegisterExternalUserName" class="form-control" data-bind="value: emailAddress, hasFocus: true" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterExternalUserName" class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
            <input type="text" id="RegisterExternalUserName" class="form-control" data-bind="value: firstName" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterExternalUserName" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
            <input type="text" id="RegisterExternalUserName" class="form-control" data-bind="value: lastName" />
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default" data-bind="click: register, disable: registering">Sign up</button>
        </div>
    </div>
</form>
<!-- /ko -->
